<body class="search">
<h1> Bar Locator </h1>
 <form action="/search/result">
  <form>
  Suburb:<br>
  <input type="text" name="firstname">
  <br>
  City:<br>
  <input type="text" name="lastname">

   <button>Submit</button>

</form>
</body>
